.App {
    font-family: 'Yeon Sung', cursive;
}

body {
    background: url('../assets/Sky_BG.png');
    background-size: cover;
    /* background: paleturquoise; */
    padding-top: 30px;
    min-width: 1400px;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.2;
    }
  }